parameters:
  level: 3
  stubFiles:
    - stubs/Parsedown.stub.php
  paths:
    - Classes
    - Tests
  parallel:
    maximumNumberOfProcesses: 1
  tmpDir: .Build/phpstan
  treatPhpDocTypesAsCertain: false
