<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap=".Build/vendor/autoload.php" colors="true" cacheDirectory=".Build/.phpunit.cache">
    <testsuites>
        <testsuite name="ns_aiuniverse unit">
            <directory>Tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
